.button {
	-moz-box-shadow: 0px 0px 0px 2px #ffdd00;
	-webkit-box-shadow: 0px 0px 0px 2px #ffdd00;
	box-shadow: 0px 0px 0px 2px #ffdd00;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7a251f), color-stop(1, #240808));
	background:-moz-linear-gradient(top, #7a251f 5%, #240808 100%);
	background:-webkit-linear-gradient(top, #7a251f 5%, #240808 100%);
	background:-o-linear-gradient(top, #7a251f 5%, #240808 100%);
	background:-ms-linear-gradient(top, #7a251f 5%, #240808 100%);
	background:linear-gradient(to bottom, #7a251f 5%, #240808 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a251f', endColorstr='#240808',GradientType=0);
	background-color:#7a251f;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffdd00;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:9px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffdd00;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #240808), color-stop(1, #7a251f));
	background:-moz-linear-gradient(top, #240808 5%, #7a251f 100%);
	background:-webkit-linear-gradient(top, #240808 5%, #7a251f 100%);
	background:-o-linear-gradient(top, #240808 5%, #7a251f 100%);
	background:-ms-linear-gradient(top, #240808 5%, #7a251f 100%);
	background:linear-gradient(to bottom, #240808 5%, #7a251f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#240808', endColorstr='#7a251f',GradientType=0);
	background-color:#240808;
}
.button:active {
	position:relative;
	top:1px;
}

.prova1 {
	color:green;
	font-family:arial;
	font-size:30px
}

.prova2 {
	color:red;
	font-family:arial;
	font-size:30px
}

.prova3 {
	color:gold;
	font-family:arial;
	font-size:30px
}

.prova4 {
	color:silver;
	font-family:arial;
	font-size:30px
}

.prova5 {
	color:gold;
	font-family:arial;
	font-size:30px
}
